header {
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  padding-bottom: 1.5rem;
}
/* ================= CTA ===================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/* ================= HEADER SOCIALS ========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 3rem;
  left: 0;
  /* transform: translateY(-50%); */
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
/* ================= ME ================== */
.me {
  background: linear-gradient(#4d64ff30, transparent 60%);
  height: 100vh;
  position: relative;
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
}
.me2 {
  visibility: hidden;
  width: 100%; /* Mengatur lebar agar sesuai dengan container */
  max-width: 450px; /* Memastikan gambar tidak lebih besar dari ukuran tertentu */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); /* Menempatkan gambar di tengah */
  border-radius: 12rem 12rem 0 0;
  z-index: -5;
  opacity: 0.2;
  box-sizing: border-box; /* Menghindari overflow pada elemen */
}
/* ================= SCROLL DOWN ======= */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotateZ(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

.typani {
  font-size: 28px;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 50%;
}
.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Membuat dua kolom dengan panjang yang sama */
  gap: 0px; /* Memberikan jarak antar grid item */
  width: 100%;
}

.grid-container1 .grid-item {
  background-color: #00000000;
  padding: 20px;
}
.grid-container1 .grid-item1 {
  text-align: left;
  font-size: 12px;
  color: #c5c5c5;
  width: 70%;
}
.grid-container1 .grid-item2 {
  display: flex;
  position: absolute;
  right: -10%;
  top: 5%;
  z-index: -5;
}
.curved-gradient-line {
  height: 10px; /* Atur tinggi garis */
  margin: 0px 0px 10px 0px;
  background-image: linear-gradient(90deg, #76c7c0, #f4a3b8, #957dad, #d3d3d3);
  border-radius: 10px; /* Membuat tepi garis melengkung */
}

/* From Uiverse.io by Shoh2008 */ 
.loaders3 {
  display: block;
  width: 44px;
  height: 44px;
  position: relative;
  scale: 0.75;
  filter: blur(3px);
}

.loaders3:before , .loaders3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: linear-gradient(90deg, #00ffe1, #ff225d);
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loaders3:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -120%) scale(0)
  }
}

/* From Uiverse.io by Spacious74 */ 
.outer {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #3e4949);
  position: relative;
  animation: floatouter 3s ease-in-out infinite;
}
@keyframes floatouter {
  0% {
    transform: translateY(0); /* Posisi awal */
    scale: 1;
  }
  50% {
    transform: translateY(-12px); /* Melayang ke atas */
    scale: 0.95;
  }
  100% {
    transform: translateY(0); /* Kembali ke posisi awal */
    scale: 1;
  }
}
.outer::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(120, 49, 117) 17.8%, rgb(0, 98, 101) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.outer .dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.outer .card {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #8255e2;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #fff;
}
.outer .ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.25;
  box-shadow: 0 0 50px #924bcd;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.outer .card .text {
  font-weight: bolder;
  font-size: 4rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}
.topl {
  top: 10%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}
.bottoml {
  bottom: 10%;
}
.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}
.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */

@media screen and (min-width: 601px) {
  header {
    height: 100vh;
  }
  .me {
    display: none;
  }
  .me2 {
    display: none;
  }
  .pc {
    display: block;
    position: relative;
    top: 20%;
  }
}
/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  header {
    height: 120vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .pc {
    display: none;
  }
  .me {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .me .bglp {
      display: block;
      scale: 1;
      width: 100%;
      object-fit: cover;
      animation: floatimg 3s ease-in-out infinite; /* Tambahkan animasi melayang */
    }
  @keyframes floatimg {
    0% {
        scale: 0.97;
        transform: translateY(0);
    }
    50% {
        scale: 1;
        transform: translateY(-5px);
    }
    100% {
        scale: 0.97;
        transform: translateY(0);
    }


  }
  .me2 {
    visibility: visible;
  }
  .ps4 {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
}
  .socials {
    display: flex;
    flex-direction: row; /* Mengatur arah flex ke horizontal */
    align-items: center; /* Menyelaraskan elemen secara vertikal di tengah */
    justify-content: center; /* Menyelaraskan elemen secara horizontal di tengah */
    gap: 0.8rem; /* Memberikan jarak antar elemen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Menempatkan elemen di tengah layar */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
  }

}

@media screen and (max-width: 320px) {
  header {
    height: 100vh;
  }
  .pc {
    display: none;
  }
}

.txtlp {
}